* {
    box-sizing: border-box;
    font-family: 'Hanken Grotesk';
}



body {
    margin: 0;

}

.div-contanier {
    margin-right: auto;
    margin-left: auto;
    font-family: Hanken Grotesk;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;


}

.first-sction {
    text-align: center;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%))  ;
    color:  hsl(0, 0%, 100%) ;
    padding: 100px 30px;
    border-radius: 50px;

}




.number {
    font-size: 60px;
    border-radius: 50px;
    border-radius: 50px;
    font-weight: bolder;
    padding-top: 20px;
    margin-top: 5px;
    margin-bottom: 15px;



}

.cricle {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0)) ;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 100px;
    margin-left: 590px;
    margin-top: 50px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.596);

}
.cricle span {
    color:  rgba(245, 222, 179, 0.637) ;
}




.first-ph {
    font-size: 18px;
    color: rgba(245, 222, 179, 0.733);


}

.sec-section {

    background-color: white;
    box-shadow: 15px 15px 12px 0 wheat;
    
}

.Summary {

    margin-right: 180px;

}

li a {
    display: flex;
    list-style: none;
    text-decoration: unset;
    gap: 20px;
    
}

ul {
    list-style: none;
    padding-left: 0;
}

.sec-ph {
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
}

.color-Reaction {
    padding-right: 20px;
    background-color: rgba(255, 87, 87, 0.05); ;
    border-radius: 8px;
    margin: 15px;
    padding: 5px;
}


.color-Reaction a {
    color:hsl(0, 100%, 67%) ; 
    

}

.color-Memory {
    padding-right: 20px;
    background-color: rgba(255, 176, 31, 0.05);
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
}

.color-Memory a {
    color: hsl(39, 100%, 56%);
}

.color-Verbal {
    padding-right: 20px;
    background-color:rgba(0, 189, 145, 0.05);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.color-Verbal a {
    color: hsl(166, 100%, 37%);
}

.color-Visual {
    padding-right: 20px;
    background-color: rgba(17, 37, 212, 0.05);
    border-radius: 8px;
    margin: 10px;
    padding: 5px;

}

.color-Visual a {
    color: hsl(234, 85%, 45%);

    
}


button {
    background-color: #303B5A;;
    color:  hsl(0, 0%, 100%) ;
    border: 1px solid ;
    border-radius: 50px;;
    font-size: 20px;
    cursor: pointer;
    padding: 25px ;
    font-weight: bold;
    display: block;
    width: 100%;

}





.small-number {
    margin-right: 40px;
    margin-top: 30px;
    color: hsl(224, 30%, 27%);
}

.small-number span {
    color: rgb(0, 0, 0);
    font-weight: bold ;
}

.small-number p {
    color: rgba(0, 0, 0, 0.753);

}

.differnt-number {
    margin-right: 40px;
    color: rgba(0, 0, 0, 0.712);
}

.differnt-number span {
    color: black;
    font-weight: bold ;
}

p {
    margin-left: auto;
    font-size: 18px;
}


@media screen and (min-width: 620px) {
    .sec-section {
        font-size: 18px;
        max-width: 680px;
        width: 90%;
        display: flex;

    }  
    .sec-section
    .first-sction {
        width: 50%;
    }
}


@media screen and (min-width: 620px) {
    .first-section {
        font-size: 18px;
        width: 90%;
        max-width: 680px;
        padding: 100px;
        padding-left: 100px;
        padding-bottom: 100px;

    } 


}


@media screen and (min-width: 620px) {
    .sec-section {
        font-size: 18px;
        max-width: 680px;
        width: 120%;
    } 


}



@media screen and (min-width: 640px) {
    .container {
        font-size: 18px;
        max-width: 200px;
        width: 50%;
        display: flex;
        text-align: center;
        border-radius: 50px;
       
        padding-left: 190px;
        margin-top: 30px;

    }

    .cricle{
        padding-left: auto;
        margin-right: 100px;
        margin-left: 100px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 255, 0.116);
    }

    .sec-section {
        background-color: white;
        font-size: 18px;
        max-width: 680px;
        width: 100%;


        

    } 

    .differnt-number {
            margin-left: 80px;
    }



    .differnt-number {
        margin-right: 40px;
        padding-bottom: 10px;
        color: rgba(0, 0, 0, 0.712);

    }
    } 